@model List<Room2Room.Models.UserNotification.UserNotification>
@using Room2Room.Models.UserNotification

@if (Model != null && Model.Any())
{
    <div class="container mt-2 mb-2">
        @foreach (UserNotification notification in Model)
        {
            <div class="alert d-flex justify-content-between align-items-center mb-2
                @(notification.Type == "PriceDrop" ? "alert-success" : "alert-info")" role="alert">

                <div class="ms-2">                    
                    @notification.Message
                </div>

                <form asp-controller="Notification" asp-action="Dismiss" method="post" class="ms-3">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="@notification.Id" />
                    <button type="submit" class="btn-close" aria-label="Dismiss"></button>
                </form>

            </div>
        }
    </div>
}