@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if (!User?.Identity?.IsAuthenticated ?? true)
    {
        // not logged in
        <p>Not authed</p>
    }
    else if (User.IsInRole("Admin"))
    {
        // is administrator
        <p>Is admin</p>
    }
    else
    {
        // is normal user
        <p>Not admin</p>
    }
</div>