@model IEnumerable<Room2Room.Models.Listings.Category>

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CategoryName</td>
                    <td><button type="button" class="btn btn-danger">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No listings found.</p>
}