@model IEnumerable<Room2Room.Models.Listings.Category>

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CategoryName</td>
                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCategory-@item.Id">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editCategory-@item.Id">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCategory">Add New</button>

    @foreach (var item in Model) {
        <div class="modal fade" id="editCategory-@item.Id" tabindex="-1" aria-labelledby="editCategoryLabel-@item.Id" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editCategoryLabel-@item.Id">Edit Listing Category</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id='category-modal' class="modal-body">
                        <input id="category-name-@item.Id" class="form-control" type="text" value="@item.CategoryName" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="upsertCategory(@item.Id)">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteCategory-@item.Id" tabindex="-1" aria-labelledby="deleteCategoryLabel-@item.Id" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteCategoryLabel-@item.Id">Delete Listing Category</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id='category-modal' class="modal-body">
                        <p>Deleting this category will <bf>delete all listings in this category</bf>. Are you sure you want to proceed?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deleteCategory(@item.Id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    }
        <div class="modal fade" id="createCategory" tabindex="-1" aria-labelledby="createCategory.Id" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="createCategory.Id">Create Listing Category</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id='category-modal' class="modal-body">
                        <input id="new-category-name" class="form-control" type="text" placeholder="Enter name here" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="upsertCategory()">Save</button>
                    </div>
                </div>
            </div>
        </div>
}
else
{
    <p>No listings found.</p>
}
