<main>

    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
        @* <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">Sidebar</span>
        </a> *@
        @* <hr> *@
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">

                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Annoucements</button>
            </li>
            <li>
                <a href="#" class="nav-link active">
                    Users
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    Listings
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    Categories
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    Chats
                </a>
            </li>
        </ul>
    </div>
</main>