@using Microsoft.AspNetCore.Identity

<ul class="navbar-nav">
@if (User?.Identity?.IsAuthenticated ?? false)
{
    <li class="nav-item">
        @* TODO: add a modify account button *@
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="btn btn-outline-secondary" asp-controller="Account" asp-action="LogOut">Logout</button>
        </form>
    </li>
}
else
{
    <div id='account-div' class="text-end">
        
        <a class="text-white p-3" href="#">
            <span class="badge text-bg-info">(0)</span>
            <i class="bi bi-cart"></i>
        </a>
        <a id="account-login-button" class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
        <a id="account-signup-button" class="btn btn-primary" asp-controller="Account" asp-action="Register">Sign Up</a>
    </div>
}
</ul>
