@model Room2Room.Models.Accounts.ManageModel

<form asp-action="Manage" method="post">
    <h1>Manage Account</h1>
    <p>Hello, world</p>
    <button type="submit" class="btn btn-primary">Save</button>
</form>