@model Room2Room.Models.Accounts.RegisterModel

<form action="/Account/Register" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" asp-for="Email"/>
  </div>
  <div class="mb-3">
    <label for="inputUsername" class="form-label">Username</label>
    <input type="text" class="form-control" id="inputUsername" asp-for="Username"/>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" asp-for="Password"/>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>